__pycache__/
venv
test
screens
GiahPezeshk/__pycache__
ChatSocket/__pycache__
ChatSocket/migrations/__pycache__
accounts/__pycache__
chat/__pycache__
GiahPezeshk/__pycache__
/user/__pycache__
chat/__pycache__